In [22]:
import os
import csv
import pandas as pd

In [373]:
meta_file = 'd11_text_meta_2018_10_31.txt'

meta_data = []

with open (meta_file, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    next(csvreader)
    for row in csvreader:
        meta_data.append(row[0].split('\t'))
        
meta_dict = {
            'ID': [],
            'Latitude': [],
            'Longitude': [],
            'Name': []
            }
        
for data in meta_data:
    meta_dict['ID'].append(data[0])
    meta_dict['Latitude'].append(data[8])
    meta_dict['Longitude'].append(data[9])
    meta_dict['Name'].append(data[13])

In [374]:
metadata_df = pd.DataFrame(meta_dict)
metadata_df.head()

        ID   Latitude    Longitude             Name
0  1100313   32.79154   -117.20716    CLAIREMONT DR
1  1100323  32.950106  -117.243571   DEL MAR HTS RD
2  1100326  32.979357  -117.252719  VIA DE LA VALLE
3  1100330  32.995494   -117.25635   LOMAS SANTA FE
4  1100333  33.010364   -117.26453   MANCHESTER AVE

In [375]:
sensor_file = 'd11_text_station_5min_2018_10_31.txt'

traffic_data = {
                'Timestamp': [],
                'ID': [],
                'District': [],
                'Freeway': [],
                'Direction': [],
                'Lane Type': [],
                'Avg Speed': []
                }

with open (sensor_file, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    for row in csvreader:
        traffic_data['Timestamp'].append(row[0])
        traffic_data['ID'].append(row[1])
        traffic_data['District'].append(row[2])
        traffic_data['Freeway'].append(row[3])
        traffic_data['Direction'].append(row[4])
        traffic_data['Lane Type'].append(row[5])
        traffic_data['Avg Speed'].append(row[11])

In [379]:
traffic_df = pd.DataFrame(traffic_data)
traffic_df.head()

             Timestamp       ID District Freeway Direction Lane Type Avg Speed
0  10/31/2018 00:00:00  1100313       11       5         N        FR
1  10/31/2018 00:00:00  1100323       11       5         N        FR
2  10/31/2018 00:00:00  1100326       11       5         N        FR
3  10/31/2018 00:00:00  1100330       11       5         N        FR
4  10/31/2018 00:00:00  1100333       11       5         N        FR

In [377]:
d11_complete = pd.merge(metadata_df, traffic_df, how='left', on=['ID'])

In [389]:
d11_complete = d11_complete.loc[d11_complete['Lane Type'] == 'ML']
d11_complete.reset_index(drop=True, inplace=True)
d11_complete.head()

,ID,Latitude,Longitude,Name,Timestamp,District,Freeway,Direction,Lane Type,Avg Speed
0,1108148,32.901576,-117.116607,CARROLL CANYON RD,10/31/2018 00:00:00,11,15,S,ML,71
1,1108148,32.901576,-117.116607,CARROLL CANYON RD,10/31/2018 00:05:00,11,15,S,ML,68.8
2,1108148,32.901576,-117.116607,CARROLL CANYON RD,10/31/2018 00:10:00,11,15,S,ML,69.5
3,1108148,32.901576,-117.116607,CARROLL CANYON RD,10/31/2018 00:15:00,11,15,S,ML,70
4,1108148,32.901576,-117.116607,CARROLL CANYON RD,10/31/2018 00:20:00,11,15,S,ML,68.7

In [390]:
d11_complete.to_csv('d11_cleaned_5min_2018_10_31.csv')